<div class="d-flex p-4 min-vh-100 justify-content-center align-items-center">
    <div id="card-wrapper" class="text-center">
        <div id="brand-image" class="p-3">
            <a href="/"><img src="../images/logo-fisip.png" style="width: 260px"></a>
        </div>
        <div id="enter-card" class="container p-0 bg-white">
            <form method="POST" action="/login" class="p-4">
                <h2>Log In Dasbor FISIP</h2>
                <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text" style="background-color: #fff"><img src="../images/user-img.png" style="height: 20px"></div>
                    </div>
                    <input type="text" class="form-control" name="email" placeholder="Email atau Nomor Induk Mahasiswa" required>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                    <div class="input-group-text" style="background-color: #fff"><img src="../images/lock-img.png" style="height: 20px"></div>
                    </div>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary w-100" type="submit">Log In</button>
                </div>
            </form>
            <div class="card-header border-top p-3">
                Belum punya akun? <a href="user/register">Daftar di sini.</a>
            </div>
        </div>
        <div class="p-4">
            <a href="user/recover" class="light-text">Lupa password?</a>
        </div>
    </div>
</div>